/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2013, 8:09:31 PM
    Author     : almir
*/

/*@font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        src: local('PT Sans'), local('PTSans-Regular'), url(fonts/PTN57F.ttf) format('woff');
}*/

/*@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(fonts/Quicksand/Quicksand-Regular.ttf) format('woff');
}*/

@font-face {
    font-family: 'Cousine';
    font-style: normal;
    font-weight: 400;
    src: local('Cousine Regular'), local('Cousine-Regular'), url(fonts/Cousine/Cousine-Regular.ttf) format('woff');
}

/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto/Roboto-Regular.ttf) format('woff');
}*/

.formTable{
    width: 20px;
    text-align: right;
    margin-right: 0.5em;
    width: 100%;
    /*border-collapse: collapse;*/
    border-collapse: collapse;
    /*border-style: hidden;*/
    font-size: 12px;
}

/*tr{ outline: 1px solid blue }*/

.formTable tbody td{
    /*border-top: 1px solid gray;*/
    /*border-bottom: 1px solid gray;*/

}
.formTable tbody td:nth-child(1){
    text-align: right;
    /*background-color: white;*/
    border-top: none;
    width: 24%;
    /*border-top: 2px solid white;*/
    border-bottom: 2px solid white;
    padding: 5px;
    font-weight: bold;
}

.formTable tbody td:nth-child(2){
    text-align: left;
    border-top: none;
    /*background-color: white;*/
    width: 39%;
    background-color: rgba( 255, 255, 255, 0.5 );
    border-left: 2px solid lightsteelblue;
    /*border-bottom: 1px solid gray;*/
    padding: 5px;
}

.formTable tbody td:nth-child(3){
    text-align: left;
    border-top: none;
    /*background-color: white;*/
    /*width: 39%;*/
    /*background-color: rgba( 255, 255, 255, 0.5 );*/
    background-color: lightsteelblue;
    border-left: 2px solid lightsteelblue;
    /*border-bottom: 1px solid gray;*/
    padding: 5px;
}

.formTable tbody tr{
    /*border-bottom: 1px solid red;*/
    border-collapse: collapse;
    border-bottom: 2px solid lightsteelblue;
}
.formTable tbody tr:last-child{
    /*border-bottom: 1px solid red;*/
    /*background-color: red;*/
    border-collapse: collapse;
    border-bottom: none;
}

.showTable{
    font-size: 12px;
}

.showTable tbody td:nth-child(1){
    text-align: right;
    width:150px;
    background-color: rgba( 255, 255, 255, 0.5 );
    padding: 5px;
    font-weight: bold;
}

.showTable tbody td:nth-child(2){
    text-align: left;
    /*width: 68%;*/
    /*background-color: rgba( 255, 255, 255, 0.5 );*/
    padding: 5px;
}

label {
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 0.5em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

body{
    background-color: gray;
    font-family: 'Cousine', serif;
}

select{
    font-size: 14px;
    font-family: 'Cousine', serif;
}

input{
    font-family: 'Cousine', serif;
    font-size: 12px;
}

input:disabled:hover{
    border: none;
    box-shadow: none;
    color: black;
    background-color: inherit;
}

input:disabled{
    border: none;
    box-shadow: none;
    color: black;
    background-color: inherit;
}

input:hover{
    background: khaki;
    box-shadow: 0px 0px 5px #3399ff;
    border-style: solid;
}

/*WIDTH*/
.contentDiv{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    /*border: 2px solid red;*/
    height: 800px;
    width: 1250px;
    /*width: 1000px;*/
}

/*WIDTH*/
.mainDiv{
    height: 758px;
    /*width: 726px;*/
    width: 921px;
    padding: 20px;
    overflow-y: auto;
    /*clear: both;*/
    float: left;
    border: 1px solid black;
}

.form-field-no-caption {
    margin-left: 150px;
    padding-left: 0.5em;
}
fieldset{
    background-color: lightsteelblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

legend{
    font-weight: bold;
    background-color: brown;
    color: white;
    padding: 5px 5px 5px 5px;
    box-shadow: #777 3px 3px;
}

#rootMenuDiv{
    border: 1px solid black;
    font-size: small;
    font-weight: bold;
    background-color: #fbf0d9;
    color: #3399ff;
    height: 788px;
    width: 22%;
    padding: 5px;
    float: left;

}

.leftPanelDiv{
    border: 1px solid black;
    font-size: small;
    font-weight: bold;
    background-color: #fbf0d9;
    color: #3399ff;
    height: 788px;
    width: 22%;
    padding: 5px;
    float: left;
}
.menuItemToDo{
    color: lightgray;
    text-decoration: none;
    cursor: default;  
}

.menuItemToDo a:link{
    text-decoration: none;
}

.menuItem{
    color: #3399ff;
    vertical-align:middle;
    text-decoration: none;
}


.menuItem:hover{
    background-color: brown;
    color: white;
}

.menuItem:visited{
    color: #3399ff;
}

.menuItem:visited:hover{
    color: white;
}

.menuTitle{
    margin-top: 10px;
    /*margin-bottom: 20px;*/
    font-size: 15px;
    color: #555;
    text-shadow: 1px 1px lightgray;
}

.submenuTitle{
    width: 102%;
    background-color: #1c94c4;
    color: #fbf0d9;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-left: -5px;
    border: none;
}
.picture{
    box-shadow: 5px 5px 5px #555555;
    border: 1px solid gray;
    height: 130px;
}

.addSeriesDetailTable{
    border: 1px solid black;
    font-family: monospace;
    text-align: center;
}

.idColumn{
    /*border: 1px solid black;*/
    min-width: 50px;
    width: 50px;
}

.weightDateColumn{
    /*border: 1px solid black;*/
    min-width: 250px;
    width: 250px;
}

.weightColumn{
    /*border: 1px solid black;*/
    min-width: 170px;
    width: 170px;
}

.commentColumn{
    /*border: 1px solid black;*/
    min-width: 170px;
    width: 170px;
}

.operationsColumn{
    /*border: 1px solid black;*/
    min-width: 100px;
    width: 200px;
}

.oddLine{
    background-color: lightblue;
}

.evenLine{
    background-color: antiquewhite;
}

.note{
    padding: 2px;
    color: blue;
    font-size: 10px;
    /*width: 230px;*/
    margin-right:15px;
    float: right;
}
.note:hover{
    background-color: brown;
    color: white;
    cursor: pointer;
}

.block1{
    width: 182px;
}

.block1 input{
    width: 176px;
    margin: 0px;
}

.submitButton{
    width: 60px;
    max-width: 60px;
    border: 1px solid black;
    background-color: buttonface;
    font-size: 11px;
    font-family: 'Cousine', serif;
    padding-top: 3px;

}

.submitButton:hover{
    color: white;
    background-color: brown;
    border: none;
    font-weight: bold;
}

#loginBlock{
    border: 1px solid blue;
    background-color: lightblue;
    width: 220px; 
    padding: 5px;
    /*border: 1px solid black;*/
}

#loginForm{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/

}

.genericInfo{
    color: brown;
    /*font-weight: bold;*/
}

/*BASIC TABLE CONFIGURATION*/
.basicTable{
    width: 100%;
    border: 1px solid gray;
    /*font-size: 10px;*/
    /*box-shadow: 5px 5px #aaa*/
}

.basicTable thead{
    background-color: gray;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px #555555;
}

.basicTable thead th{
    height: 30px;
    padding: 2px 5px 2px 5px;
}

.basicTable tbody tr{
    height: 30px;
}

.basicTable tbody td{
    padding: 2px 5px 2px 5px;
}

.basicTable tbody td:nth-child(2){
    font-weight: bold;
}

.basicTable tbody td:nth-child(3){
    font-weight: bold;
}

.basicTable tbody td:last-child{
    font-size: small;
}

.basicTable tbody tr:nth-child(odd){
    background-color: #1c94c4;
}

.basicTable tbody tr:nth-child(even){
    background-color: #c2e5f7;
}

.confirmButton{
    float: right;
    /*From submit button*/
    min-width: 80px;
    /*max-width: 80px;*/
    border: none;
    /*border: 1px solid black;*/
    /*background-color: rgba( 240, 102, 0, 0.6);*/
    color: black;
    font-size: 11px;
    font-family: 'Cousine', serif;
    padding-top: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

}
.confirmButton:hover{
    background-color: brown;
    color: white;
}

.genericButton{
    /*From submit button*/
    min-width: 80px;
    /*max-width: 80px;*/
    border: none;
    border: 1px solid orange;
    /*background-color: rgba( 240, 102, 0, 0.6);*/
    color: black;
    font-size: 11px;
    font-family: 'Cousine', serif;
    padding-top: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

}
.genericButton:hover{
    background-color: brown;
    color: white;
}

.aboutMe{
    margin: 20px;
    padding: 5px;
    border: 2px solid #6666ff;
    background-color: #3399ff;
    font-size: 12px;
}

.aboutPage{
    margin: 20px;
    padding: 5px;
    border: 2px solid #009900;
    background-color: #99cc00;
    font-size: 12px;
}

.aboutSystem{
    margin: 20px;
    padding: 5px;
    border: 2px solid #ff9966;
    background-color: #ffcc99;
    font-size: 12px;
}

.aboutTitle{
    font-size: 16px;
    font-weight: bold;
}

.aboutThePageMessagesDiv ul{
    list-style-type: square;
}

#getUsernameDialogDiv{
    color: blue;
    background-color: lightsteelblue;
    width: 350px;
    height: 250px;
    background-image: none;
    text-align: center;
    font-family: 'Cousine', serif;
    font-size: 14px;
}

.getUsernameDialog .ui-dialog-titlebar{
    display: none;
}

.getUsernameDialog .ui-dialog-buttonpane{
    font-size: 12px;
    text-align: center;
}

.getUsernameDialog .getUsernameDialogConfirmButton{
    background-image: none;
    float: left;
}

.getUsernameDialog .getUsernameDialogOkButton{
    background-image: none;
    margin-left: auto;
    margin-right: auto;
}

.getUsernameDialog .getUsernameDialogCancelButton{
    background-image: none;
    float: right;
}

.pleaseWaitDialog {
    background-image: none;
    padding-top: 20px;
    text-align: center;
    background-color: rgba( 0, 0, 0, 0.3) !important;
    color: white;
    border: 2px solid black;
    /*min-height: 60px;*/
    height: 60px !important;
    max-height: 60px !important;
    /*max-height: 400px;*/
}

#pleaseWaitDialogDiv, .ui-dialog.ui-dialog-content {
    border: none !important;
    background-color: transparent !important;
    /*    min-width: 70px;
        max-width: 270px;*/
    /*    min-height: 40px;
        height: 40px;
        max-height: 40px;*/
    height: 60px !important;
    max-height: 60px !important;
    /*max-height: 400px;*/
    padding: 0px;
    text-align: center;
}

.pleaseWaitDialog .ui-dialog-titlebar{
    display: none;
    /*    background-image: none !important;
        background-color: blue !important;*/
}

.normal{
    font-size: 20px;
    float: left;
}

.showAvailableOptions{
    font-size: 12px;
    padding: 3px;
    clear: both;
}

.showAvailableOptions hr{
    border: 1px solid lightsteelblue;
}

.inputDate{

}

.mainInfo{
    font-weight: bolder;
    font-size: 14px;
}

.formErrorMessage{
    color: red;
}

.flagShadow{
    box-shadow: 2px 2px #777;
    transform:scale(1.5);
    -ms-transform:scale(1.25); /* IE 9 */
    -moz-transform:scale(1.25); /* Firefox */
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -o-transform:scale(1.25); /* Opera */
}

.seriesDetailsChartDiv{
    height: 310px; 
    background-color: antiquewhite;
    box-shadow: 0px 0px 5px #3399ff;
    padding: 10px;

}

.errorblock {
    float: right;
    color: #ff0000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.topBar{
    background-color: lightsteelblue;
    padding: 0;
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    height: 1.2em;
    border-bottom: 1px solid #aaa;

}
.systemShortInfo{
    float: left;
    padding: 0.2em 0.3em 0.2em 0.2em;
    font-size: 10px;
    font-style: italic;
    color: brown;
}

.changeLanguage{
    float: right;
    padding: 0.2em 0.5em 0.2em 0.2em;
}

.warning{
    font-size: 12px;
    font-weight: normal;
    color: red;
    background: white;
    text-align: center;
    /*border: 1px solid red;*/
    cursor: pointer;
}

.warning:hover{
    color: white;
    background: red;
}
